.site-header {
  padding: 10vh 10vw;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
}

.site-header .logo {
  font-size: 16px;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 6em;
  border-radius: 100%;
  background-color: #efefef;
}

.site-header .logo svg {
  width: 300px;
  height: 300px;
  position: absolute;
}

.site-header .logo svg circle {
  stroke: #111;
  fill: #efefef;
}

.site-header .logo svg text {
  fill: #ccc;
}

.site-header .logo .label-container {
  position: absolute;
  width: min-content;
}

.site-header .logo .label {
  display: flex;
  justify-content: space-between;
}

.site-header .logo .label.large {
  font-size: 200%;
}
